.box{  
    width: 1200px;
    height: 670px;
    background-color: rgba(120, 155, 124, 0.986);
    padding: 10px;
    margin: 10px;
    margin-left:auto;
    margin-right: auto;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgb(220, 255, 124);
    margin-left:auto;
    margin-right: auto;
}
button{
    width: 120px;
    height: 50px;
}
img{
    width: 370px;
    height: 370px;
    margin: 10px;
}
.portrait{
    float:left;
    width: 370px;
    padding: 10px;
    text-align: justify;
    
}
.podval{
    color: black;
    width: 100%;
    
}